<div class="mb-8">

  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-8">

    <div>

      <h2 class="text-2xl font-bold text-[#002E42]">
        Seleccione el área
      </h2>

      <p class="text-sm text-[#7A96A3] mt-1">
        Elija el proceso para gestionar sus documentos.
      </p>

    </div>

    @if (isUserAdmin) {
    <a routerLink="/formularios/crear/nuevo" class="inline-flex items-center justify-center gap-2
               bg-[#00649B]
               hover:bg-[#00517D]
               text-white text-sm font-semibold
               px-5 py-3 rounded-xl
               shadow-sm hover:shadow-md
               transition-all duration-200">

      <i class="pi pi-plus text-xs"></i>
      Crear formulario
    </a>
    }

  </div>

  <div class="max-w-5xl mx-auto flex flex-col gap-6">

    @for (grupo of gruposProcesos; track grupo.titulo; let last = $last) {
    
    <div class="bg-[#5B88D6]/15 border border-[#5B88D6]/30 rounded-2xl p-6 shadow-sm">
      
      <div class="text-center mb-5">
        <h2 class="text-xs font-bold uppercase tracking-wider text-white bg-[#5B88D6] py-1.5 px-6 rounded-lg inline-block shadow-sm">
          {{ grupo.titulo }}
        </h2>
      </div>

      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center">

        @for (cat of grupo.items; track cat.code) {

        <button [routerLink]="['/formularios/categoria', cat.code]" (click)="selectCategoria(cat.code)" class="group bg-white border border-[#E6EEF2]
                   rounded-2xl p-5 text-left w-full
                   transition-all duration-200
                   hover:border-[#00649B]
                   hover:shadow-md flex items-center justify-between">

          <div class="flex items-center gap-3 w-full">
            <h3 class="text-sm font-bold text-[#002E42] group-hover:text-[#00649B] leading-snug flex-1">
              {{ cat.label }}
            </h3>
            <i class="pi pi-arrow-right text-[#D1DCE2] group-hover:text-[#00649B] shrink-0"></i>
          </div>

        </button>

        }

      </div>

    </div>

    @if (!last) {
    <div class="flex justify-center my-[-10px]">
      <div class="bg-white p-2 rounded-full shadow-md border border-gray-100 text-[#00649B] z-10">
        <i class="pi pi-arrow-down-arrow-up text-sm font-bold"></i>
      </div>
    </div>
    }

    }

  </div>

</div>